{% if tipo == 'OPERADORA' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label>{{nome}}</label></p>
		<p><label>{{endereco}}</label></p>
		<p><label>{{tel_princ}}</label></p>
		<p><label>{{tel_op}}</label></p>
		<p><label>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="relatorio_img" src="" />
	</div>

{% endif %}


{% if tipo == 'PRODUTO' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label>{{operadora}}</label></p>
		<p><label>{{nome}}</label></p>
		<p><label>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="relatorio_img" src="" />
	</div>

{% endif %}



{% if tipo == 'SERVICO' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label>{{operadora}}</label></p>
		<p><label>{{nome}}</label></p>
		<p><label>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="relatorio_img" src="" />
	</div>

{% endif %}