{% if tipo == 'OPERADORA' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label><b>Nome: </b>{{nome}}</label></p>
		<p><label><b>Endereço: </b>{{endereco}}</label></p>
		<p><label><b>Telefone Principal: </b>{{tel_princ}}</label></p>
		<p><label><b>Telefone Opcional: </b>{{tel_op}}</label></p>
		<p><label><b>Descrição: </b>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="media_prod_serv_img" src="" />
	</div>
	<br/>
	<img id="best_worst_relat" src="" />

{% endif %}


{% if tipo == 'PRODUTO' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label><b>Operadora pertencente: </b>{{operadora}}</label></p>
		<p><label><b>Nome: </b>{{nome}}</label></p>
		<p><label><b>Descrição: </b>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="media_prod_serv_img" src="" />
	</div>
	<br/>
	<img id="best_worst_relat" src="" />

{% endif %}



{% if tipo == 'SERVICO' %}

	<div id="busca-de-dados" algin="center" class="left">
		<h1>{{pesquisa}}</h1>
		<p><label><b>Operadora pertencente: </b>{{operadora}}</label></p>
		<p><label><b>Nome: </b>{{nome}}</label></p>
		<p><label><b>Descrição: </b>{{descricao}}</label></p>
	</div>
	<div class="right" id="relatorio">
		<img id="media_prod_serv_img" src="" />
	</div>
	<br/>
	<img id="best_worst_relat" src="" />

{% endif %}