{% extends "main.html" %}

{% block admin_manter %}

<div id="adicionarproduto" class="left main_column">
	
	<h3 align="center">Adicionar novo produto</h3>
	
	<form id="produto_form" action="/" method="post">
		<br/>
		
		<p><label><b>Nome: </b></label><input type="text" id="nome" name="pr_nome" size="30" maxlength="150" required></p> 
		
		<p><label><b>Operadora: </b><label><select id="list_operadoras"></select></p>
		
		<p><label class="left"><b>Descrição: </b></label><textarea class="left" id="pr_descricao" name="pr_descricao" rows="6" cols="50" maxlength="500" ></textarea></p>
		
		<p><button type="submit" name="cadastrar_produto" >Enviar</button>  <button onclick="voltarHistory();" type="submit" name="voltar_pagina">Voltar</button></p>
	</form>
	
</div>

<div id="editarproduto" class="right main_column">

	<h3 align="center">Editar dados de produtos</h3>
	
	
</div>

{% endblock admin_manter %}