{% extends "main.html" %}

{% block myeval %}

<div id="minhasavaliacoes" class="main_column">

	<p><h3 align="center">Avaliações Enviadas</h3></p>
	<br/>
	
	<p><label><b>Nome: </b><label>{{nomeitem}}</p>
		
	<p><label><b>Nota da 1ª questão: </b><label>{{nota1}}</p>
	<p><label><b>Nota da 2ª questão: </b><label>{{nota2}}</p>
	<p><label><b>Nota da 3ª questão: </b><label>{{nota3}}</p>
	<p><label><b>Nota da 4ª questão: </b><label>{{nota4}}</p>
	<p><label><b>Nota da 5ª questão: </b><label>{{nota5}}</p>
	
	<p><label><b>Comentário: </b><label>{{comentario}}</p>


	
</div>
{% endblock myeval %}