{% extends "main.html" %}

{% block relatorios %}

<div id="relatorios" align="center" class="main_column">

	<p><h3 align="center">Relatórios</h3></p>
	<br/>
	
	<p><label><b>Tipo de relatório: </b><label><select onchange="relatoriosJuridico()" id="list_tipos" name="list_tipos">
	<option>Relatório 1</option><option>Relatório 2</option><option>Relatório 3</option><option>Relatório 4</option><option>Relatório 5</option>
	</select></p>

	<p><img id="img_relatorio1" src="" /></p>
	

	
</div>
{% endblock relatorios %}