{% extends "main.html" %}

{% block relatorios %}

<div id="relatorios" align="center" class="main_column">

	<p><h3 align="center">Relatórios</h3></p>
	<br/>
	
	<p><label><b>Tipo de relatório: </b></label><select onchange="listJuridico();" id="list_tipos_relatorios" name="list_tipos">
	<option>Operadora</option><option>Produtos</option><option>Serviços</option>
	</select>
	
	<label><b>Selecione: </b></label><select onchange="relatoriosJuridico();" id="relatorios_juridico" name="relatorios_juridico"></select></p>
	

	<div id="relatoriografico" class="left">
		<br/>
		<img id="img_relatorio" src="" />
	
	</div>
	
</div>
{% endblock relatorios %}